<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thoth"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />

    <!--
         <h1>System Permissions</h1>
         <p>The system permission allow us to access features on the device
         This also gives us the capability of restricting devices. Check the sub 
         headers for more information. We need to make sure to get acces to only
         features that we need etc.</p>
    -->


    <!--
	     <h2>Feature Access</h2>
	     <p>Feature access by our application/p>
    -->
    <uses-feature
        android:name="android.hardware.camera" android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!--
	     <h2>Uer Permission</h2>
	     <p>Permission needed by our application/p>
    -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <!-- Splash Screen Start -->
        <activity
            android:name="com.thoth.SplashScreen"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- LoginActivity -->
        <activity
            android:name="com.thoth.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        
        <!-- LoginActivity -->
        <activity
            android:name="com.thoth.RegisterActivity"
            android:label="@string/app_name" >
        </activity>
        
        <!-- Main Activity Start -->
        <activity
            android:name="com.thoth.MainActivity"
            android:label="@string/app_name" >
        </activity>
        
    </application>

</manifest>